body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.search-container {
  margin: 5px;
}

td {
  background-color: inherit !important;
}

.visited-color {
  background-color: #b7bec5;
}